
{% extends "layout/base.twig" %}


{% block title %} Home {% endblock %}


{% block cssScript %} <link rel="stylesheet" href="css/app.css"> {% endblock %}


{% block content %}

      <h1>
        <span>H</span>ard
         da<span>y</span>s,
    </h1>
    <h1>
        yiel<span>d</span> 
        <span>r</span>ew<span>a</span>rds.
    </h1>
    <button id="testBtn">let there be light</button>

{% endblock %}

{% block jsScript %} <script src="js/script.js"></script> {% endblock %}

  

